<%-include ("./common/header.ejs") %>

<h3>Edit product</h3>

<form method="POST" action="/edit-product/<%=product._id%>" class="product-form">
  <div class="d-flex flex-column mt-3">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%=product.title%>">
  </div>
  <div class="d-flex flex-column mt-4">
    <label for="imageUrl">Image Url:</label>
    <input type="text" id="imageUrl" name="imageUrl" value="<%=product.imageUrl%>">
  </div>
  <div class="d-flex flex-column mt-4">
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="<%=product.price%>">
  </div>
  <div class="d-flex flex-column mt-4">
    <label for="description">Description:</label>
    <textarea type="text" id="description" rows="4" name="description" value="<%=product.description%>">
    </textarea>
  </div>

  <button class="btn btn-primary mt-4" type="submit">Edit</button>
</form>

<%-include ("./common/footer.ejs") %>